node_modules/
dist/
build/
coverage/

# env
.env
.env.local
.env.*.local

# prisma
prisma/*.db
prisma/*.db-journal

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db
*.tsbuildinfo

# editors
.idea/
.vscode/*
!.vscode/extensions.json
